
p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  text-align: left;
  color: green;
}

body {
  background-color: lightblue;
}

.headerlinks {
  color: blue;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px
}

.circleimg {
  float: left;
  border-radius: 50%;
}

h2 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  color: orange;
  font-weight: bold;
}
