
p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
head {
  background-color: lightblue;
}
.jumbotron{
  background-color: blue;
}
img {
  float: right;
  height: 100px;
  width: 60px;
}
body{
  background-color: lightblue;
}
h1 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  color: green;
  background-color: yellow;
}
